<?xml version="1.0"?>
<launch>
	    <!-- 设置launch文件的参数 -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/> 
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <!--模型车的位置不能修改-->
    <arg name="x_pos" default="-0.5"/>
    <arg name="y_pos" default="0"/>
    <arg name="z_pos" default="0.0"/>

	<!--运行gazebo仿真环境-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
        	<arg name="debug" value="$(arg debug)" />
        	<arg name="gui" value="$(arg gui)" />
        	<arg name="paused" value="$(arg paused)"/>
        	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
        	<arg name="headless" value="$(arg headless)"/>
		<arg name="world_name" value="$(find racecar_description)/worlds/test1.world"/>
               <!-- 此处改成参赛者放置.world文件的地址-->
    	</include>

	<!-- 加载机器人模型描述参数 -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find racecar_description)/urdf/racecar.urdf.xacro'"/>
	
	 <!-- Read joint positions from a GUI, then publish them to joint_states. -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui"
          type="joint_state_publisher_gui">
        <param name="rate" value="30"/>
       <!--<param name="use_gui" value="true"/>-->
    </node>

	    <!-- 在gazebo中加载机器人模型-->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model racecar -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"/> 
  
  <!-- Launch the odom -->
      <include file="$(find racecar_description)/launch/include/rf2o.launch.xml" />

<!-- Robot_Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find racecar_gazebo)/config/ekf_params.yaml" />
    </node>

	<!-- 机器人节点控制 -->
    <include file="$(find racecar_control)/launch/racecar_control.launch" ns="/"/>

        <!-- Spawn the MUXs -->
     <arg name="racecar_version" default="racecar-v2" />
     		<include file="$(find racecar)/launch/mux.launch" ns="vesc" />

  <!-- Publish "better odom" topic that is normally generated by the particle filter -->
  <node name="better_odom" pkg="topic_tools" type="relay"
          args="/odometry/filtered /pf/pose/odom" />
    
 	 <!--Launch the simulation joystick control-->
  <rosparam command="load" file="$(find racecar_gazebo)/config/keyboard_teleop.yaml" />
  	<node pkg="racecar_gazebo" type="keyboard_teleop.py" name="keyboard_teleop" />



</launch>



